<footer>
    <mat-divider></mat-divider>
    <div class="footer-container">
        <div class="left-container">
            <a mat-button class="link"  href="https://www.red-themes.com" target="#">HOME</a>
            <a mat-button class="link" href="https://www.red-themes.com" target="#">COMPANY</a>
            <a mat-button class="link" href="https://www.red-themes.com" target="#">PORTFOLIO</a>
            <a mat-button class="link" href="https://www.red-themes.com" target="#">BLOG</a>

        </div>

        <span class="spacer"></span>
        <div class="right-container">
            <mat-icon color="primary">copyright</mat-icon>
            <span>2021 <a href="https://www.red-themes.com" target="#" class="logo"><span class="red">Red</span> <span class="foreground">Themes</span></a>, made with</span>
            <mat-icon class="heart">favorite</mat-icon> 
            <span>for a better web</span>
        </div>
    </div>

</footer>