.prompt-container{
    // width: 500px;
    text-align: center;
    justify-content: center;
}
.prompt-container h1 {
    font-size: 24px;
    text-transform: none;
    font-weight: 500;
}
p {
    font-size: 15px;
    padding: 0 30px;
}

.mat-dialog-actions {
    justify-content: center;
    margin-bottom: -10px;
}