<div class="typography-wrapper">
   
   
<header>
    <h1>Typography
        <small>All Material Typography Style</small>
    </h1>
</header>

    <h1>
        h1: ux-admin Dashboard with Backends
    </h1>
    <h2>
        h2: ux-admin Dashboard with Backends
    </h2>
    <h3>
        h3: ux-admin Dashboard with Backends
    </h3>
    <h4>
        h4: ux-admin Dashboard with Backends
    </h4>
    <h5>
        h5: ux-admin Dashboard with Backends
    </h5>

    <p>Paragraph Style: ux-admin Dashboard with Backends

        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam illum facere dignissimos architecto accusamus repellendus vel ut vitae! In esse dignissimos ad exercitationem ipsum omnis assumenda explicabo impedit reiciendis numquam?
    </p>
    <br>
    <br>
    <div>Normal Style: ux-admin Dashboard with Backends

        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam illum facere dignissimos architecto accusamus repellendus vel ut vitae! In esse dignissimos ad exercitationem ipsum omnis assumenda explicabo impedit reiciendis numquam?
    </div>

 
</div><!-- typography-wrapper ends -->